
body{
    background-color: #2b2b2b;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #edede2;
}
h1{
    color: #f7c19f;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 70px;
    text-align: center;
}
h2{
    color: #f1b459;
    font-family: 'Bebas Neue', cursive;
    font-size: 42px;
    text-align: center;
}
h3{
  color: #edede2;
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 84px;
  text-shadow: 3px 3px 3px #2b2b2b;
  margin-bottom: 50px;
  text-transform: uppercase;
}

p{
    color: #edede2;
    font-family: 'Montserrat', sans-serif;

}
.header {
    position: fixed;
      z-index: 900;
      height: 240px;
    width: 100%; 
      background: rgba(43,43,43,0);
      padding: 18px;
      -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
  }
 
  .logo {
    position: absolute;
    text-align: center;
    z-index: 1000;
    height: 200px;
    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
  }
  .active_header {
    background-color: rgba(43,43,43,1);
    height : 135px;
  }
  .active_logo {
        height : 100px;
  }
  nav{
    position: absolute;
    z-index: 1100px;
  }
  .btn{
    background-color: rgb(216,84,17);
    color: #edede2;
    border-color: rgb(216,84,17);
  }
  .overlay {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1.5s ease;
    background-color: #2b2b2b;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .real:hover .overlay {
    opacity: 0.8;
    transition: .5s ease;
  }
  .hide-me[aria-expanded="true"] {display: none;}
  
  .dejeuner{
    background-image:url("../img/coffee-4026902_1920.jpg");
    background-size: auto;
    background-position: center;
  }
.row_formule{
  min-height: 420px;
}

  .formule_dej{
    background-color: #2b2b2b;
    opacity: 0.8;
    
    min-height: 420px;
  }
.alignement_menu{
  justify-content: space-between;
}

.bgfooter{
  background-image: url(../img/footer_burger.jpg);
  
}
a
{
  color: #FFFFFF;
  text-decoration: none;
}
a:hover
{
  color: #FFFFFF;
  text-decoration: none;
}
.plan_footer{
  padding-bottom: 10px;
}

  /*PARTIE MEDIAS QUERIES */
/*MOBILE */
@media (max-width: 767px) {
  h1{font-size: 40px;}
  h2{font-size: 32px;}
  h3{font-size: 54px;}
  .formule_dej{
    min-height: 280px;
  }
  .cadre{
    padding-top: 10px;
    border: 2px solid #f1b459;
  }
.row_formule{
  min-height: 280px;
}
.alignement_menu{
  justify-content: end;

}
.show .alignement_menu {
  background-color: #2b2b2b;
  margin: 0!important;
}
/*TABLETTE -> PETIT ECRAN ORDI */
@media (min-width: 768px) and (max-width:1100px) {
  h1{font-size: 60px;}
  h2{font-size: 42px;}
  h3{font-size: 74px;}
}